%h1 Listing statements

%table
  %thead
    %tr
      %th Content
      %th
      %th
      %th

  %tbody
    - @statements.each do |statement|
      %tr
        %td= statement.content
        %td= link_to 'Show', statement
        %td= link_to 'Edit', edit_statement_path(statement)
        %td= link_to 'Destroy', statement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Statement', new_statement_path
